 <div class="user-details">
  <h1> Skills </h1>
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming Languages & Frameworks</h2>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-php-plain"></i>
      <i class="devicon-django-plain"></i>
      <i class="devicon-laravel-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-docker-plain"></i>
      <i class="devicon-rocksdb-plain"></i>
      <i class="devicon-postgresql-plain"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
