 <div class="user-details">
  <h1> About me </h1>
</div>
  <div class="user">
    <div>
      <p>
        With over 4 years of experience in software development and a master's degree in computer science, I have a proven track record of helping companies build reliable and scalable software solutions. I have a passion for solving engineering problems and staying up-to-date with the latest technologies to apply them to real-world problems. My interests include blockchain, software engineering, business, and AI.
        <br>
Over the past few years, I have gained valuable experience in the blockchain industry, where I worked on various projects such as developing node software, mobile wallet applications, and crypto exchanges. In my spare time, I enjoy engaging in physical activities such as sports, reading books to broaden my knowledge, or working on personal projects to expand my skill set.
<br>
I am committed to continuous learning and development, always striving to improve my skills and knowledge in the field. I am excited to leverage my expertise to help companies develop innovative solutions that drive their success.
      </p>
    </div>
    
  </div>   
</div>
<div class="user-details">
  <h2>Technologies I am/was using</h2>
  <div>
		<ul style="list-style-position: inside; margin: 0; padding: 0; float: left; width: 50%;">
			<li style="padding: 8px; margin-bottom: 8px;  ;">Python</li>
			<li style="padding: 8px; margin-bottom: 8px;  ;">C++</li>
			<li style="padding: 8px; margin-bottom: 8px;  ;">Django</li>
			<li style="padding: 8px; margin-bottom: 8px;  ;">FastAPI</li>
      <li style="padding: 8px; margin-bottom: 8px;  ;">AWS</li>
      <li style="padding: 8px; margin-bottom: 8px;  ;">PosgreSql</li>
      <li style="padding: 8px; margin-bottom: 8px;  ;">MongoDB</li>

		</ul>
		<ul style="list-style-position: inside; margin: 0; padding: 0; float: left; width: 50%;">
			<li style="padding: 8px; margin-bottom: 8px;  ;">Git</li>
			<li style="padding: 8px; margin-bottom: 8px;  ;">PHP</li>
			<li style="padding: 8px; margin-bottom: 8px;  ;">Docker</li>
			<li style="padding: 8px; margin-bottom: 8px;  ;">Kubernetes</li>
      <li style="padding: 8px; margin-bottom: 8px;  ;">Linux</li>
      <li style="padding: 8px; margin-bottom: 8px;  ;">Rest API</li>
		</ul>
		<div style="clear: both;"></div>
	</div>
</div>
