 <div class="user-details">
  <h1> Skills </h1>
</div>
  <div class="user">
    <div class="tech">
      <h2> Technologies that I work(ed) with: </h2>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-php-plain"></i>
      <i class="devicon-django-plain"></i>
      <i class="devicon-laravel-plain-wordmark"></i>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-docker-plain-wordmark"></i>
      <i class="devicon-rocksdb-plain-wordmark"></i>
      <i class="devicon-postgresql-plain-wordmark"></i>
      <i class="devicon-jenkins-line"></i>
      <i class="devicon-tensorflow-original-wordmark"></i>
      <i class="devicon-wordpress-plain-wordmark"></i>
      <p> I am a young and ambitious software developer interested in programming, blockchain, AI, ... </p>
    </div>
  </div>   
</div>
