<div class="user-details">
  <h1> Some of my projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Med3D.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Implementation of virtual reality into the Med3D web visualisation framework </h3>
    <p> My Batchelor thesis (Faculty of Computer and Information Science - University of Ljubljana) + MIPRO conference paper <a href="https://ieeexplore.ieee.org/abstract/document/8400057" target="_blank">(link)</a></p>
    <a class="project-link" href="https://repozitorij.uni-lj.si/IzpisGradiva.php?id=103092&lang=eng" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Skydive.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Skydive Ljubljana </h3>
    <p> Implementation and design of Wordpress based website for local Skydiving club.</p>
    <p> It it includes: responsive design, multi-language support, checkout with an option to pay with credit card, ...
    </p>
    <a class="project-link" href="https://skydiveljubljana.com/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="https://media.istockphoto.com/photos/work-in-progress-road-sign-picture-id155388466?k=6&m=155388466&s=612x612&w=0&h=o1FECebGkqlmlI3hwpFJ8vnj6oYrQGWOFDxAO4upuW8=" />
  </div>
  <div class="contents">
    <h3> Comparison of tainting analysis methods in Bitcoin network (Master's Thesis) </h3>
    <p> In pogress... </p>
  </div>
</div>
<!---
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

-->